.card-project-img
{
  width: 2.5rem;
}

@media (min-width: 992px)
{
  .card-img
  {
    height: 15rem;
  }
}

@media (min-width: 1200px)
{
  .card-img
  {
    height: 10rem;
  }
}

@media (min-width: 1300px)
{
  .card-img
  {
    height: 12.5rem;
  }
}

@media (min-width: 768px) and (max-width: 992px)
{
  .card-img
  {
    height: 12rem;
  }
}

@media (max-width: 768px)
{
  .card-img
  {
    height: 14rem;
  }
  .card-project-img
  {
    width: 2rem;
  }
}

@media (max-width: 476px)
{
  .card-img
  {
    height: 10rem;
  }
}

@media (max-width: 376px)
{
  .card-img
  {
    height: 8rem;
  }
}
