.section-header-h1-span
{
  border-bottom: .2rem outset var(--bd-green);
  width: fit-content;
}

.section-p
{
  max-width: 25rem;
}

.section-header-img
{
  background-color: var(--bg-dark-one);
  width: 20rem;
}

.section-h2
{
  font-size: 3rem;
}

.section-contact
{
  border-bottom: 1px inset var(--bg-dark-one);
}

.textarea
{
  resize: none;
}

@media (max-width: 576px)
{
  .section-header-img
  {
    background-color: var(--bg-dark-one);
    width: 15rem;
  }
}

@media (min-width: 768px) and (max-width: 992px)
{
  .input, .textarea
  {
    width: 40rem;
  }
}
